.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.819) 10px 10px 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 15px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 40px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 16px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.sin {
  padding: 5px;
  border-radius: 15px;
  margin: 10px;
  text-decoration: none;
  font-size: 40px;
  color: black;
  background-color: rgb(252, 25, 0);
}

.log {
  padding: 5px;
  border-radius: 15px;
  margin: 10px;
  text-decoration: none;
  font-size: 40px;
  color: black;
  background-color: rgb(252, 25, 0);
}

.m-10 {
  margin: 12px;
}

.btn {
  width: 100%;
}

.pass {
  margin-bottom: 20px;
}

.serchbar {
  width: 50%;
  margin: auto;
  display: flex;
  gap: 5px;
}

.containor {
  margin: 50px;
}

.container {
  width: 100%;
  margin: 1em auto;
  background-color: darkslategray;
}

.grid {
  display: grid;
  margin-left: 0.5px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.2em;
  justify-content: center;
}

h2 {
  background-color: antiquewhite;
}
